:where(*) {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:where(button, input[type='button'], input[type='submit']) {
  background: unset;
  border: unset;
}

:where(input[type='text'], input[type='email'], input[type='password']) {
  background: unset;
  border: unset;
}

:where(input[type='text'], input[type='email'], input[type='password']):focus {
  background: unset;
  border: unset;
  outline: none;
}

:where(img) {
  display: block;
  max-width: 100%;
}

:where(ul) {
  list-style: none;
}
